# Ignore files that store the last installed git tag version.
*.tag

# Ignore logs.
*.log

# Ignore generated or user made config files.
environment-variables.sh
mongo-init.js

# Ignore hidden files, except git ignore files.
.*
!.gitignore
